*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  header > h1{
    text-align: center;
    padding: 10px 5px;
    background: rgba(0,0,0,0.2);
    color:skyblue;
  }
  section{
    margin: 20px 10px;
  }
  section>button{
    padding: 0.8em 1.5em;
    background: rgba(0,0,0,0.2);
    color: white;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
  }
  section>button:hover{
    background: rgba(0,0,0,0.3);
  }
  #modal{
    display: none;
    position: fixed;
    top:0;
    left:0;
    min-height: 100%;
    min-width: 100%;
    background: rgba(0,0,0,0.5);
    overflow: auto;
    animation: modal 1s;
  }
  #modal-content{
    width:300px;
    margin: 15% auto;
    background: #fff;
  }
  
  .modalHeader  h2,
  .modalFooter  h3{
    padding: 10px 5px;
    margin: 0;
    text-align: center;
    color: white;
    background: #2193b0;  /* fallback for old browsers */
    margin: 10px auto;
  }
  span#btn-close{
    float: right;
    font-size: 1.5em;
    padding: 0 5px;
    margin: 2px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
  }
  span#btn-close:hover,
  span#btn-close:focus{
    background: black;
    border-radius: 50%;
  }
  .modalBody{
   padding: 10px; 
  }
  
  @keyframes modal{
    from {opacity:0};
    to {opacity:1};
  }